<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Weather-app</title>
  </head>
  <body>
    <!--Div for Background-->
    <div class="bg text-center">

      <!--Div for Centered Text & Input-->
      <div class="centered">
        <h2 class="firstLine">
          Temprature in <%= query %>: <%= temprature %>
        </h2>
        <h2  > <%= description %> </h2>
        <img src=" <%= src %> " alt="">

      </div>



    </div>
  </body>
</html>
